* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body { 
    margin: 0;
    background-color: dodgerblue;
    overflow: hidden;
}
.container {
    position: relative;
    margin-left: 1700px;
    width: 650px;
    margin-top: 700px;
  }

.face { 
    position: absolute;
    z-index: 1;
    top: 55px;
    left: 58px;
    width: 500px;
    height: 470px;
    border: 6px solid #9d3d41;
    background: #ffa8b4;
    border-radius: 100%;

}

.arm { 
    position: absolute;
    top: 70px;
    left: 10px;
    width: 170px;
    height: 180px;
    background: #ffa8b4;
    border: 6px solid #9d3d41;
    border-radius: 100% 70% 100% 70%/100% 80% 100% 80%;

}

.arm-right {
    position: absolute;
    z-index: 1;
    top: 260px;
    left: 420px;
    width: 170px;
    height: 170px;
    border: 6px solid;
    border-radius: 100% 80% 100% 80%/100% 90% 100% 80%;
    border-color: #9d3d41 #9d3d41 transparent transparent;
    transform: rotate(76deg);
    background: #ffa8b4;
}

.eye { 
    position: absolute;
    z-index: 1;
    top: 140px;
    left: 190px;
    width: 60px;
    height: 130px;
    background-color: #b95154;
    border-radius: 100%;

}

.eye:before { 
    position: absolute;
    z-index: 1;
    content: '';
    top: 0px;
    left: 130px;
    width: 60px;
    height: 130px;
    background-color: #b95154;
    border-radius: 100%;
}

.white { 
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 9px;
    width: 40px;
    height: 80px;
    border-radius: 100% 
}

.white:before { 
    content: "";
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 0px;
    left: 130px;
    width: 40px;
    height: 80px;;
    border-radius: 100% 
}
.blue {
    position: absolute;
    top: 75px;
    left: 13px;
    width: 34px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 #4683d6;
  }
  .blue-right {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 143px;
    width: 34px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 10px 0 0 #4683d6;
  }

  .blush { 
    z-index: 1;
    position: absolute;
    top: 280px;
    left: 120px;
    width: 70px;
    height: 40px;
    background: #ff81aa;
    border-radius: 100%;
    transform: rotate(0deg);
  }
  .blush:before {
    position: absolute;
    content: '';
    left: 255px;
    width: 70px;
    height: 40px;
    background: #ff81aa;
    border-radius: 100%;
    transform: rotate(0deg);
  }
  .mouth {
    position: absolute;
    z-index: 1;
    top: 330px;
    left: 253px;
    width: 75px;
    height: 65px;
    background: #9d3d41;
    border-radius: 100% 100% 100px 100px;
  }
  
  .tongue {
    position: absolute;
    top: 15px;
    left: 6px;
    width: 63px;
    height: 49px;
    background: #fe728f;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  }
  .foot {
    z-index: 0;
    position: absolute;
    top: 425px;
    left: 10px;
    width: 290px;
    height: 140px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #ff6692;
    border: 6px solid #9d3d41;
    border-radius: 50% 50% 100% 50%/40% 40% 100% 100%;
    transform: rotate(177deg);
  }
  
  .foot.right {
    z-index: 0;
    position: absolute;
    top: 425px;
    left: 310px;
    width: 290px;
    height: 140px;
    border: 6px solid #9d3d41;
    border-radius: 50% 50% 50% 100%/40% 40% 100% 100%;
    transform: rotate(183deg);
  }

#clouds{
	padding: 70px 0px;
	background: #c9dbe9;
    background-color: dodgerblue;
    position: absolute;
}


.cloud {
	width: 200px; height: 60px;
	background: #fff;
	z-index: 3;
	border-radius: 100px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	transform: rotate(60deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}


.x1 {
	animation: moveclouds 15s linear infinite;
    left: 1200px; top : -500px;
}


.x2 {
	left: 400px; top : -500px;
	transform: scale(0.6);
	opacity: 0.6; 
	animation: moveclouds 25s linear infinite;
}

.x3 {
	left: 450px; top: -800px;
	transform: scale(1.5);
	opacity: 0.8; 
	
animation: moveclouds 20s linear infinite;

}

.x4 {
	left: 470px; top: -500px;
	
	transform: scale(0.75);
	opacity: 0.75; 
	
	animation: moveclouds 18s linear infinite;

}

.x5 {
	left: -150px; top: -350px;
	
	transform: scale(0.8);
	opacity: 0.8; 
	
	animation: moveclouds 20s linear infinite;

}

@keyframes moveclouds {
	0% {margin-left: 1500px;}
    0% { opacity: 0%;}
    1% { opacity: 5%;}
    2% { opacity: 10%;}
    3% { opacity: 11%;}
    4% { opacity: 12%;}
    5% { opacity: 14%;}
    6% { opacity: 18%;}
    7% { opacity: 22%;}
    8% { opacity: 25%;}
    9% { opacity: 30%;}
    10% { opacity: 31%;}
    11% { opacity: 32%;}
    12% { opacity: 34%;}
    20% { opacity: 40%;}
    30% { opacity: 80%;}
    40% { opacity: 100%;}
    50% { opacity: 100%;}
    60% { opacity: 70%;}
    90% { opacity: 30%;}
    91% { opacity: 29%;}
    92% { opacity: 27%;}
    93% { opacity: 24%;}
    94% { opacity: 21%;}
    95% { opacity: 19%;}
    96% { opacity: 13%;}
    97% { opacity: 9%;}
    98% { opacity: 6%;}
    99% { opacity: 3%;}
    100% { opacity: 0%;}
	100% {margin-left: -1000px;}
}
.Sun { 
    border: 1px solid yellow;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: yellow;
    z-index: 1;
    top: 5%;
    left: 4%;
    margin-top: 0px;
    position: absolute;
    box-shadow: 30px 30px 30px 70px  yellow;

}
@media screen and (max-width: 600px) {
 body { 
    scale: 0.25;
    
 }
    .container { 
        margin-top: 435px;
        margin-left: 400px;
    }
    .Sun { 
        margin-top: -1600px;
        margin-left: -600px;
    }
    #clouds { 
        margin-top: -550px;
        margin-left: -400px;
    }
 
}
@media  screen and (max-width: 1920px) {

  body { 
     scale: 0.55;
     
  }
     .container { 
         margin-top: 635px;
         margin-left: 2000px;
     }
     .Sun { 
         margin-top: -1000px;
         margin-left: -600px;
     }
     #clouds { 
         margin-top: -350px;
         margin-left: -400px;
     }
  
 }

